

<div class="mainPage grid-container">
 <div class=Flatiron-title>
  <h1>The <br> Flatiron <br> Company</h1>
  <p>Doing lots of stuff for a long time</p>
 </div>


 <div class="mainTitle">
    <h1>Welcome, to <br>
      Your <br> Desktop</h1>
      <div class="timeAndDate">
        <h4><strong>Your Local Time & Date:</strong> {{dateMessage}}</h4>
      </div>
  </div>
 
 <div class="side-nav">
   <nav class="primaryPageNav">
     <a routerLink="/myinfo">My Information</a>
     <a routerLink="/clients">Clients</a>
     <a routerLink="/pendingclients">Pending Clients</a>
     <a routerLink="/stuff">Some Other Stuff</a>
   </nav>
 </div>
 

 
 
</div>

<app-footer></app-footer>
